form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  font-family: var(--font-text);
}

input {
  width: 90%;
  padding: 5px;
  border: 2px solid rgba(143, 146, 146);
  border-radius: 5px;
}