.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid rgb(206, 206, 246);
  box-shadow: rgba(213, 217, 217, 0.468) 0 10px 10px 0;
  border-radius: 10px;
  height: 36rem;
}

h1 {
  font-family: var(--font-title);
  font-size: 2.2em;
  color: rgb(142, 142, 239);
}

p {
  color: grey;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}