.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid var(--primary-color);
  box-shadow: rgba(213, 217, 217, 0.468) 0 10px 10px 0;
  border-radius: 10px;
  width: 80rem;
  height: 36rem;
  margin-top: 2rem;
  text-align: center;
}

h1 {
  font-family: var(--font-title);
  font-size: 2.2em;
  color: var(--primary-color);
}

p {
  color: grey;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}