.list-container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  box-shadow: rgba(213, 217, 217, 0.468) 0 10px 10px 0;
  border-radius: 10px;
  width: 80rem;
  height: 36rem;
  margin-top: 2rem;
  text-align: center;
  gap: 1rem;
}

.list-container__title h1 {
  margin-top: 2rem;
  font-family: var(--font-title);
  font-size: 2.2em;
  color: var(--primary-color);
}