.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--primary-color);
  box-shadow: rgba(213, 217, 217, 0.468) 0 10px 10px 0;
  border-radius: 10px;
  width: 80rem;
  height: 36rem;
  margin-top: 2rem;
  text-align: center;
  gap: 1rem;
}

.list-container__title h1 {
  margin-top: 2rem;
  font-family: var(--font-title);
  font-size: 2.2em;
  color: var(--primary-color);
}

.list-container__table-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  height: 20rem;
}

.list-container__table-not-found img {
  width: 20rem;
  height: 20rem;
}

.delete-button {
  color: var(--delete-button-color);
}

.delete-icon img {
  width: 1em;
  height: 1em;
}